/* .body{
   
  background-color: linear-gradient(to right,#01a663,#03d206);

  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  */

  .login_body {
    height: 100%;
    min-height: 580px;
    width: 100%;
    overflow: hidden;
  }
  @media screen and (min-width: 48em) {
    .login_body {
      background-color: #fff;
    }
  }
  
  .property_content,
  .login_box_container {
    position: absolute;
    right: 0;
    width: 33%;
    height: 100%;
    min-height: 580px;
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login_box_container {
    margin: 0 auto;
    max-width: 1030px;
    min-width: 320px;
  }
  
  .property_content,
  .property_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    box-sizing: border-box;
    z-index: 0;
  }
  .login_head{
    margin-right: 100px;
  }
  
  .login_box_container:before{
      box-shadow: -1px 0 4px 1px rgb(29 34 40 / 12%);
      content: ' ';
      position: absolute;
      left: 0;
      height: 100%;
  }
  
  .property_content,.login_box{
      position:relative;
      right:0;
      left:0;
      width:100%;
      min-width:320px;
      margin:0 auto;
      padding:0;
      border:0;
      box-shadow:none;
  }
  
  .login_box{
      box-sizing:border-box;
      background-color:#fff;
      color:#26282a;
      top:11px;
  }
  
  .login_box,.login_head{
      padding-top:28px;
      padding-bottom:0;
      background-color: #fff;
      color: #26282a;
  }
  
  .challenge{
      margin:0 auto;
      padding:0 3rem;
      text-align: center;
  }
  .challenge_header{
       
      min-height:1rem;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: .82353rem;
      letter-spacing: .58px;
      text-align: center;
  }
  .challenge,.challenge_heading{
      display: block;
      margin: 0;
      margin-top: .82353rem;
      font-size: 1.17647rem;
      font-weight: 600;
      letter-spacing: -.2px;
      text-align: center;
      line-height: 1.35294rem;
  }
  
  
  .span_color{
      color:green;
      cursor:pointer;
  }
  .secondary_text{
     font-size:13px;
     color:grey;
  }
  
  .btn{
      width:350px;
      border:0px;
      border:1px solid green;
      padding:10px;
      color:green;
      border-radius:5px;
      font-size:18px;
      background-color:#fff;
      cursor:pointer;
  }